{% extends 'manage_base.html' %}

{% block title %} 删除员工 {% endblock %}

{% block beforehead %}
<link rel="stylesheet" href="/static/css/components/datepicker.gradient.min.css" />
<link rel="stylesheet" href="/static/css/components/notify.gradient.min.css" />
<script src="/static/js/components/datepicker.min.js"></script>
<script src="/static/js/components/notify.min.js"></script>
<script>
$(function () {
    var delete_employee = new Vue({
        el: '#delete_employee',
        data: {
            emp_id: '',
            emp_name: '',
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                var 
                    $form = $('#delete_employee'),
                    leave_date = $("input[type='']").val();
                if (! this.emp_id.trim()) {
                    return $form.showFormError('员工编号不能为空！');
                }
                if (! this.emp_name.trim()) {
                    return $form.showFormError('员工姓名不能为空！');
                }
                if (! leave_date.trim()) {
                    return $form.showFormError('请输入入职日期');
                }
                if (! /^\d{4}-\d{2}-\d{2}$/.test(leave_date)) {
                    return $form.showFormError('请在日历上选择离职日期');
                }
                $form.postJSON('/api/delete_employee', {
                    emp_id: this.emp_id.trim(),
                    emp_name: this.emp_name.trim(),
                    leave_date: leave_date
                }, function (err, r) {
                    if (err) {
                        return $form.showFormError(err);
                    }
                    UIkit.notify("<i class='uk-icon-check'></i>员工删除成功！删除的员工编号为"+r["id"]+"，姓名为"+r["name"],
                                                                                                    {status:'success'});
                    return location.assign('#');
                });
            }
        }
    });
    $('#delete_employee').show();
});
</script>
{% endblock %}

{% block content %}
<div class="uk-grid uk-container-center uk-margin-large-top">
    <form id="delete_employee" v-on="submit: submit" class="uk-form uk-form-horizontal">
	<legend>删除员工</legend>
        <div class="uk-alert uk-alert-danger uk-hidden"></div>
        <div class="uk-form-row">
            <label class="uk-form-label">编号：</label>
            <div class="uk-form-controls">
                <input v-model="emp_id" type="text" maxlength="50" placeholder="输入员工编号" />
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">姓名：</label>
            <div class="uk-form-controls">
                <input v-model="emp_name" type="text" maxlength="50" placeholder="输入员工姓名" />
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">离职日期：</label>
            <div class="uk-form-controls">
                <input type="" readonly="readonly" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD'}" placeholder="YYYY-MM-DD" v-model="leave_date"/>
            </div>
        </div>
        <div class="uk-form-row">
            <button type="submit" class="uk-button uk-button-primary">确认</button>
            <button type="reset" class="uk-button">取消</button>
        </div>
    </form>
</div>
{% endblock %}
