{% extends 'manage_base.html' %}

{% block title %} 添加员工 {% endblock %}

{% block beforehead %}
<link rel="stylesheet" href="/static/css/components/form-select.gradient.min.css" />
<link rel="stylesheet" href="/static/css/components/datepicker.gradient.min.css" />
<link rel="stylesheet" href="/static/css/components/notify.gradient.min.css" />
<script src="/static/js/components/form-select.min.js"></script>
<script src="/static/js/components/datepicker.min.js"></script>
<script src="/static/js/components/notify.min.js"></script>
<script>
function validateEmail(email) {                                                                                                                                         
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email.toLowerCase());
}
$(function () {
    var add_employee = new Vue({
        el: '#add_employee',
        data: {
            name: '',
            sex: '',
            email: '',
            phone_number: '',
            level: '',
            dept_number: '',
            leader_id: ''
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                var 
                    $form = $('#add_employee'),
                    join_date = $("input[type='']").val();
                if (! this.name.trim()) {
                    return $form.showFormError('请输入员工姓名');
                }
                if (! validateEmail(this.email.trim())) {
                    return $form.showFormError('请输入正确的email地址');
                }
                if (! /^\d{11}$/.test(this.phone_number.trim())) {
                    return $form.showFormError('请输入正确的11位手机号');
                }
                if (! join_date.trim()) {
                    return $form.showFormError('请输入入职日期');
                }
                if (! /^\d{4}-\d{2}-\d{2}$/.test(join_date)) {
                    return $form.showFormError('请在日历上选择入职日期');
                }
                if (! this.level.trim()) {
                    return $form.showFormError('请输入员工级别');
                }
                $form.postJSON('/api/add_employee', {
                    name: this.name.trim(),
                    sex: parseInt(this.sex),
                    email: this.email.trim(),
                    phone_number: this.phone_number.trim(),
                    join_date: join_date,
                    level: parseInt(this.level),
                    dept_number: parseInt(this.dept_number.trim()),
                    leader_id: this.leader_id.trim()
                }, function (err, r) {
                    if (err) {
                        return $form.showFormError(err);
                    }
                    UIkit.notify("<i class='uk-icon-check'></i>新员工添加成功！产生的员工编号为"+r["id"],
                                                                                    {status:'success'});
                    return location.assign('#');
                });
            }
        }
    });
    $('#add_employee').show();
});
</script>
{% endblock %}

{% block content %}
<div class="uk-grid uk-container-center uk-margin-large-top">
    <form id="add_employee" v-on="submit: submit" class="uk-form uk-form-horizontal">
	<legend>添加员工</legend>
        <div class="uk-alert uk-alert-danger uk-hidden"></div>
        <div class="uk-form-row">
            <label class="uk-form-label">姓名：</label>
            <div class="uk-form-controls">
                <input v-model="name" type="text" autocomplete="off" maxlength="50" placeholder="输入名字" />
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">性别：</label>
            <div class="uk-form-controls uk-form-controls-text">
                <input type="radio" name="sex" value="0" checked="checked" v-model="sex">男</input>
                <input type="radio" name="sex" value="1" v-model="sex">女</input>
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">电子邮箱：</label>
            <div class="uk-form-controls">
                <input type="email" autocomplete="off" maxlength="50" placeholder="your-name@example.com" v-model="email" />
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">电话：</label>
            <div class="uk-form-controls">
                <input type="text" autocomplete="off" maxlength="50" placeholder="输入电话号码" v-model="phone_number" />
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">入职日期：</label>
            <div class="uk-form-controls">
                <input type="" readonly="readonly" data-uk-datepicker="{weekstart:0, format:'YYYY-MM-DD'}" placeholder="YYYY-MM-DD" v-model="join_date"/>
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">级别：</label>
            <div class="uk-form-controls">
                <div class="uk-button uk-form-select uk-active" data-uk-form-select="">
                    <span>——请选择——</span>
                    <i class="uk-icon-caret-down"></i>
                    <select v-model="level">
                        <option value="4">总经理</option>
                        <option value="3">部门经理</option>
                        <option value="2">组长</option>
                        <option value="1">普通员工</option>
                        <option value="0">试用员工</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">入职部门：</label>
            <div class="uk-form-controls">
                    <input type="text" placeholder="部门编号" v-model="dept_number" />
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">领导编号：</label>
            <div class="uk-form-controls">
                <input type="text" maxlength="50" v-model="leader_id" />
            </div>
        </div>
        <div class="uk-form-row">
            <button type="submit" class="uk-button uk-button-primary">确认</button>
            <button type="reset" class="uk-button">取消</button>
        </div>
    </form>
</div>
{% endblock %}
