{% extends '__base__.html' %}

{% block title %} 工资查询 {% endblock %}

{% block beforehead %}
<link rel="stylesheet" href="/static/css/components/notify.gradient.min.css" />
<link rel="stylesheet" href="/static/css/components/form-select.gradient.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/dataTables.uikit.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/buttons.dataTables.min.css">
<script src="/static/js/components/form-select.min.js"></script>
<script src="/static/js/components/notify.min.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.uikit.min.js"></script>
<script src="/static/js/buttons.html5.min.js"></script>
<script src="/static/js/buttons.print.min.js"></script>
<script src="/static/js/dataTables.buttons.min.js"></script>
<script src="/static/js/pdfmake.min.js"></script>
<script src="/static/js/vfs_fonts.js"></script>
<script src="/static/js/jszip.min.js"></script>
<script>
$(function () {
    var search = new Vue({
        el: '#search',
        data: {
            start_year: '',
            start_month: '',
            end_year: '',
            end_month: '',
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                var $form = $('#search');
                if (! this.start_year.trim() || ! this.start_month.trim()) {
                    return $form.showFormError('请选择开始日期');
                }
                if (! this.end_year.trim() || ! this.end_month.trim()) {
                    return $form.showFormError('请选择结束日期');
                }
                $form.postJSON('/api/query_salary', {
                    start_year: this.start_year.trim(),
                    start_month: this.start_month.trim(),
                    end_year: this.end_year.trim(),
                    end_month: this.end_month.trim(),
                }, function (err, r) {
                    if (err) {
                        return $form.showFormError(err);
                    }
                    $form.showFormLoading(false);
                    refreshTable(r);
                    UIkit.notify("<i class='uk-icon-check'></i>查询成功！", {status:'success'});
                    return location.assign('#');
                });
            }
        }
    });
    $('#search').show();
    $('#query_salary').hide();
});
function refreshTable(data) {
    $(document).ready(function() {
        $('#query_salary').DataTable( {
            data: data.payrolls,
            columns: [
            { data: "month" },
            { data: "basic_salary" },
            { data: "bonus" },
            { data: "fine" },
            { data: "sum" }
            ],
            language:{
                "sProcessing":   "处理中...",
                "sLengthMenu":   "显示 _MENU_ 项结果",
                "sZeroRecords":  "没有匹配结果",
                "sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix":  "",
                "sSearch":       "搜索:",
                "sUrl":          "",
                "sEmptyTable":     "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands":  ",",
                "oPaginate": {
                    "sFirst":    "首页",
                    "sPrevious": "上页",
                    "sNext":     "下页",
                    "sLast":     "末页"
                },
                "oAria": {
                    "sSortAscending":  ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
        $('#query_salary').show();
    });
}
</script>
{% endblock %}

{% block content %}
<div class="uk-panel uk-panel-box uk-container-center uk-margin-large-top uk-width-1-1">
    <form id="search" v-on="submit: submit" class="uk-form uk-form-horizontal">
        <legend>时间区间</legend>
        <div class="uk-alert uk-alert-danger uk-hidden"></div>
        <div class="uk-form-row">
            <label class="uk-form-label">开始时间：</label>
            <div class="uk-form-controls">
                <div class="uk-button uk-form-select uk-active" data-uk-form-select="">
                    <span>——请选择——</span>
                    <i class="uk-icon-caret-down"></i>
                    <select v-model="start_year">
                        {% for i in range(1990, datetime.date.today().year+1)[::-1] %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                年
                <div class="uk-button uk-form-select uk-active" data-uk-form-select="">
                    <span>——请选择——</span>
                    <i class="uk-icon-caret-down"></i>
                    <select v-model="start_month">
                        {% for i in range(1,13) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                月
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">结束时间：</label>
            <div class="uk-form-controls">
                <div class="uk-button uk-form-select uk-active" data-uk-form-select="">
                    <span>——请选择——</span>
                    <i class="uk-icon-caret-down"></i>
                    <select v-model="end_year">
                        {% for i in range(1990, datetime.date.today().year+1)[::-1] %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                年
                <div class="uk-button uk-form-select uk-active" data-uk-form-select="">
                    <span>——请选择——</span>
                    <i class="uk-icon-caret-down"></i>
                    <select v-model="end_month">
                        {% for i in range(1,13) %}
                        <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                月
            </div>
        </div>
        <div class="uk-form-row">
            <button id="search_button" type="submit" class="uk-button uk-button-primary"><i class="uk-icon-search"></i></button>
        </div>
    </form>
    <hr class="uk-article-divider" />
    <table id='query_salary' class="uk-table uk-table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>时间</th>
                <th>基本工资</th>
                <th>奖金</th>
                <th>罚款</th>
                <th>合计</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}
